@charset "UTF-8";
* {
  font-family: "Varela Round", "Montserrat", sans-serif;
}

.titulo-secundario, .titulo-principal, .hero-boton, .hero-tituloSitio, .contenedor-hero {
  font-family: "Montserrat", sans-serif;
}

/* ajusta la imagen al ancho y alto del contendor y cover para que la imagen no se distorsione */
/****** header layout *****************************************/
/* header con imagen de fondo */
.index-header {
  background-image: url(../img/headerBackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.logotipo {
  width: 8rem;
  max-width: 100%;
  min-width: 6rem;
  height: auto;
}

/* contendor para la descripcion del sitio */
.contenedor-hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 80%;
  max-height: 80%;
  padding-top: 2rem;
  padding-left: 5rem;
  row-gap: 3em;
}

/* titulo principal del sitio */
.hero-tituloSitio {
  font-size: 4em;
  font-weight: 800;
  width: 90%;
  max-width: 80%;
  text-align: left;
}

.hero-subtitulo {
  font-size: 1.5em;
  font-weight: 500;
  max-width: 90%;
  text-align: left;
}

.hero-boton {
  font-size: 2em;
  font-weight: 500;
  background-color: #304a6f;
  color: #ffffff;
  padding: 0.5em;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.hero-boton:hover {
  background-color: #587aaa;
}

/* bootstrap navbar personalizada para paginas sin Hero ------------------- */
.custom-navbar {
  background-color: #e6edf3 !important; /* mismo color que footer */
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/****** fin header layout *****************************************/
/****** main layout *****************************************/
* {
  color: #000000;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  gap: 1rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 1rem;
  row-gap: 2rem;
}

a {
  text-decoration: none;
  color: #000000;
}

/* contenedor para titulos usado en varias paginas */
.contenedor-bloque-titulos {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 90%;
  margin: 1rem auto;
}

/* contenedor usado en varias paginas */
.contenedor-limitado {
  max-width: 90%;
}

.titulo-principal {
  font-size: 3em;
  font-weight: 750;
  width: 80%;
}

.titulo-secundario {
  font-size: 2em;
  font-weight: 200;
  width: 80%;
}

.grid-tours-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 1rem auto;
}

.tours-card {
  background-color: #f8f7f3;
  border-radius: 0.5rem;
  width: 25rem;
  height: auto;
}

.tours-card-flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
  align-items: center;
}
.tours-card-flex h3 {
  text-align: center;
}

/* 
.tours-card-img {    
    width: 100%;    
    align-items: center;
    padding-top: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0;    
} */
.tours-card-boton, .contacto-boton {
  background-color: #c2b2a3;
  font-size: 1rem;
  font-weight: 400;
  border: none;
  padding: 0.6rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.tours-card-boton:hover, .contacto-boton:hover {
  background-color: #e4d4c5;
  /* background-color: #587aaa; */
}
.tours-card-boton:focus, .contacto-boton:focus {
  outline: 3px solid #587aaa;
  outline-offset: 2px;
}

.logo-mediano {
  width: 3rem;
}

.logo-mini {
  width: 1.5rem;
  padding: 0;
  margin: 0;
}

/* grid para imagenes de tours ---------------------------------------------------- */
.contenedor-grid-tours {
  display: grid;
  grid-template-areas: "imagen1 imagen1 imagen2 imagen2" "imagen1 imagen1 imagen3 imagen4";
  grid-template-columns: 1fr 1fr 1fr 1fr; /* Cuatro columnas de igual tamaño y dos filas */
  grid-template-rows: 12rem 12rem;
  align-content: center;
  justify-content: center;
  align-items: start;
  width: 90%;
  padding: 1rem;
  margin: 1rem auto;
  gap: 1rem; /* Espacio entre las celdas */
  border-radius: 0.5rem;
  background-color: #f8f7f3;
  overflow: hidden;
}

.tours-imagen1 {
  grid-area: imagen1; /* Asigna el elemento a la cuadrícula de área "imagen1" */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tours-imagen2 {
  grid-area: imagen2;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tours-imagen3 {
  grid-area: imagen3;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tours-imagen4 {
  grid-area: imagen4;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contenedor-texto-tours {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 85%;
  margin: 2rem auto;
}
.contenedor-texto-tours h2 {
  margin-top: 0.5em;
}

/* fin paginas tours */
/****** fin main layout *****************************************/
/****** footer layout *****************************************/
footer {
  background-color: #e6edf3;
}

.footer-enlaces {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
}

/****** fin footer layout *****************************************/
/* media querys para tablets y celulares --------------------------------------------- */
/* responsive tablet 768px */
@media (max-width: 768px) {
  .contenedor-hero {
    /* elimino espacio superior, achico espacio a la izquierda, achico distancia entre elementos */
    padding-top: 0rem;
    padding-left: 2rem;
    row-gap: 1em;
  }
  .hero-tituloSitio {
    /* achico el font-size */
    font-size: 2.5em;
    font-weight: 800;
  }
  .hero-subtitulo {
    /* achico el font-size respecto a desktop */
    font-size: 1em;
    font-weight: 500;
  }
  .hero-boton {
    /* achico el font-size */
    font-size: 1.5em;
    font-weight: 500;
  }
  .titulo-principal {
    /* achico el font-size */
    font-size: 2em;
    font-weight: 750;
  }
  .titulo-secundario {
    /* achico el font-size */
    font-size: 1.5em;
    font-weight: 200;
  }
  .tours-card {
    /* solo achivo el ancho */
    width: 20rem;
  }
}
/* responsive telefono 375px */
@media (max-width: 480px) {
  .contenedor-hero {
    /* elimino espacio superior, achico espacio a la izquierda, achico la distancia entre elementos */
    padding-top: 0rem;
    padding-left: 1rem;
    row-gap: 0.5em;
  }
  .hero-tituloSitio {
    /* achico el font-size*/
    font-size: 1.5em;
    font-weight: 800;
  }
  .hero-subtitulo {
    /* achico el font-size respecto a desktop */
    font-size: 1em;
    font-weight: 500;
  }
  .hero-boton {
    /* achico el font-size */
    font-size: 1em;
    font-weight: 500;
  }
  .titulo-principal {
    /* solo achico el font-size*/
    font-size: 1.5em;
    font-weight: 750;
  }
  .titulo-secundario {
    /* solo achico el font-size */
    font-size: 1em;
    font-weight: 200;
  }
  .tours-card {
    /* solo achivo el ancho */
    width: 15rem;
  }
}

/*# sourceMappingURL=styles.css.map */
