*{    
    font-family: 'Varela Round', 'Montserrat', sans-serif;
    color: #000000 ;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-color: green; */
}

ul{
    display: flex;
    list-style: none;
    gap: 1rem;
    padding-left: 2rem;
}

a {
    text-decoration: none;
    color: #000000;
}

/* header con imagen de fondo */
.index-header{
    background-image: url(../img/headerBackground.jpg); 
    background-repeat: none;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.logotipo {
    width: 8rem;   
    max-width: 100%;     
    min-width: 6rem;
    height: auto;
}

/* contenedor superior con barra navegacion pagina principal */
.contenedor-navegacion-index {    
    display: flex;
    align-items: center; 
}

/* contenedor superior con barra navegacion otras paginas */
.contenedor-navegacion {
    display: flex;
    align-items: center;
    background-color: #e6edf3; 
} 

.contenedor-navegacion2 {
     display: flex;
    /*align-items: center; */
    /* background-color: pink;  */
} 


.navegacion {
    font-family: 'Varela Round', 'Montserrat', sans-serif;
    color: #000000 ;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

/* contendor para la descripcion del sitio */
.contenedor-hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;    
    align-items: flex-start;        
    height: 80%;
    max-height: 80%;
    padding-top: 2rem;              
    padding-left: 5rem;             
    row-gap:3em;
}

/* titulo principal del sitio */
.hero-tituloSitio {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 4em;
    width: 90%;
    max-width: 80%;
    text-align: left;       
}

.hero-subtitulo {
    font-size: 1.5em;
    max-width: 90%;
    text-align: left;       
}

.hero-boton {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 2em;   
    background-color: #304a6f;    
    padding: 0.5em;
    border-radius: 10px;
    color: #ffffff;
}

/* main */
/* contenedor para titulos usado en varias paginas */
.contenedor-bloque-titulos {    
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 90%;
    margin: 1rem auto;
    /* background-color: yellow; */
}

/* contenedor central usado en varias paginas */
.contenedorCentralFlex {
    display: flex;
    gap: 1rem;
    width: 90%;
    margin: 1rem auto;
    /* background-color: orange; */
}

.titulo-principal {
    font-family: "Montserrat", sans-serif;
    font-weight: 750;    
    font-size: 3em;
    width: 80%;
}

.titulo-secundario { 
    font-family: "Montserrat", sans-serif;
    font-weight: 200;    
    font-size: 1.5em;
    width: 80%;        
}

.imagenMediana {
    width: 100%;
    max-width: 40%;
    object-fit: cover;
}

.grid-visitas-card {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;  
    margin: 1rem auto;    
    /* background-color: pink; */
}

.visitas-card {
    background-color: #f8f7f3;
    border-radius:0.5rem;
    width: 25rem;    
    height: auto;
}

.visitas-card h3 {
    text-align: center;
}

.visitas-card-flex {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem;
    align-items: center;  
}

.visitas-card-img {    
    width: 100%;    
    align-items: center;
    padding-top: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0 rem;    
}

.visitas-card-boton {
    background-color:#c2b2a3;
    border: none;
    width: 50%;
    /* max-width: 30%; */
    padding: 0.5rem 0;
    border-radius: 0.5rem;
    justify-content: center;
}

.logo-linkedin, .logo-instagram{
    width: 3rem;
}

/* footer */
footer{
    background-color: #e6edf3;      
}

.footer-enlaces{
    justify-content: center;
    padding: 1rem;
}


/* grid para imagenes de visitas ---------------------------------------------------- */
.contenedor-grid-visitas {
    display: grid;
    grid-template-areas:
    "imagen1 imagen1 imagen2 imagen2" 
    "imagen1 imagen1 imagen3 imagen4";
    grid-template-columns: 1fr 1fr 1fr 1fr; /* Cuatro columnas de igual tamaño y dos filas */
    grid-template-rows: 12rem 12rem;
    align-content:center;
    justify-content: center;
    align-items: start;
    width: 90%;
    padding: 1rem;
    margin: 1rem auto;
    gap:1rem; /* Espacio entre las celdas */     
    border-radius:0.5rem;    
    background-color: #f8f7f3;       
    overflow: hidden;
}

.visitas-imagen1 {
    grid-area: imagen1;     /* Asigna el elemento a la cuadrícula de área "imagen1" */
    width: 100%;            /* Ajusta la imagen al ancho del contenedor */
    height: 100%;           /* Ajusta la imagen a la altura del contenedor */
    object-fit: cover;      /*Para que la imagen no se distorsione */    
}

.visitas-imagen2 {
    grid-area: imagen2;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.visitas-imagen3 {
    grid-area: imagen3;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.visitas-imagen4 {
    grid-area: imagen4;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenedor-texto-visitas {
    display: flex;
    flex-direction: column;
    row-gap:1rem;
    width: 90%;
    margin: 3rem auto;   
    /* background-color: aquamarine; */
}

.contenedor-texto-visitas h2 {
    margin-top: 1.5rem;
}

.contenedor-texto-visitas p {    
    width: 50%;
}
/* fin paginas visitas */



/* paleta colores 
#f8f7f3 beige clarito
#c2b2a3 marroncito
#94afca celeste
#304a6f azul oscuro
*/

/* responsive  --------------------------------------------- */
/*
escritorio 1440px
tablet 768px
telefono 375px
*/

/* responsive tablet 768px */
@media (max-width: 768px) {
body {
    /* background-color: red; */
}

.contenedor-hero {    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;    
    align-items: flex-start;        
    height: 80%;                    
    max-height: 80%;                
    padding-top: 0rem;              /* elimino espacio superior */
    padding-left: 2rem;             /* achico espacio a la izquierda */
    row-gap:1em;                    /* achico la distancia entre elementos */
}

.hero-tituloSitio {
    font-family: "Montserrat", sans-serif;
    font-weight: 800; 
    font-size: 2.5em;           /* achico el font-size */
    width: 90%;
    max-width: 80%;
    text-align: left;          
}

.hero-subtitulo {
    font-size: 1em;             /* achico el font-size */
    max-width: 90%;
    text-align: left;              
}

.hero-boton {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1em;           /* achico el font-size */
    background-color: #304a6f;    
    padding: 1em;
    border-radius: 10px;
    color: #ffffff;
}

.titulo-principal {
    font-family: "Montserrat", sans-serif;
    font-weight: 750;        
    font-size: 2em;         /* achico el font-size */
    width: 80%;     
}

.titulo-secundario {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;    
    font-size: 1em;         /* achico el font-size */
    width: 80%;      
}

.visitas-card {
    background-color: #f8f7f3;  
    border-radius:0.5rem;
    width: 20rem;           /* solo achivo el ancho */
    height: auto;
}
}


/* responsive telefono 375px */
@media (max-width: 375px) {
body {
    /* background-color: rgb(207, 98, 174); */
}

.contenedor-hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;    
    align-items: flex-start;        
    height: 80%;                    
    max-height: 80%;                
    padding-top: 0rem;          /* elimino espacio superior */
    padding-left: 1rem;         /* achico espacio a la izquierda */
    row-gap:0.5em;              /* achico la distancia entre elementos */
}

.hero-tituloSitio { 
    font-family: "Montserrat", sans-serif;
    font-weight: 800; 
    font-size: 1.5em;       /* achico el font-size*/
    width: 90%;
    max-width: 80%;
    text-align: left;       
}

.hero-subtitulo{
    font-size: 1em;         /* achico el font-size */
    max-width: 90%;
    text-align: left;       
}

.hero-boton{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1em;              /* mantengo el font-size */
    background-color: #304a6f;    
    padding: 0.5em;             /* achico el padding */
    border-radius: 10px;
    color: #ffffff;
}

.titulo-principal {
    font-family: "Montserrat", sans-serif;
    font-weight: 750;        
    font-size: 1.5em;       /* solo achico el font-size*/
    width: 80%;   
}

.titulo-secundario {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;    
    font-size: 0.75em;      /* solo achico el font-size */
    width: 80%;     
}

.visitas-card{
    background-color: #f8f7f3;    
    border-radius:0.5rem;
    width: 15rem;           /* solo achivo el ancho */
    height: auto;
}

}

/* bootstrap ------------------- */
/* NAVBAR personalizada para igualar contenedor-navegacion */
.custom-navbar {
    background-color: #e6edf3 !important; /* mismo color que tu header */
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/* Asegura que el logo mantenga el estilo original */
.custom-navbar .logotipo {
    width: 8rem;
    max-width: 100%;
    min-width: 6rem;
    height: auto;
}

/* Quita bordes y fondo del botón hamburguesa */
.navbar-toggler {
    border: none !important;
}



