@import './utilities/_extends';
@import './utilities/_variables';
@import './utilities/_mixins';

@import './layouts/_header';
@import './layouts/_main';
@import './layouts/_footer';


/* media querys para tablets y celulares --------------------------------------------- */

/* responsive tablet */
@media (max-width: $tamanioTablet) {

    .contenedor-hero {  
        /* achico espacio a la izquierda, achico distancia entre elementos */        
        @include paddingGap(2rem,1em);
    }

    .hero-tituloSitio {
        /* achico el font-size */        
        @include tipografiaTamanio(2.5em,800);  
    }
       
    .hero-boton {
        /* achico el font-size */
        @include tipografiaTamanio(1.5em, 500);
    }
   
    .titulo-principal {
        /* achico el font-size */
        @include tipografiaTamanio(2em,500);   
    }
   
    .titulo-secundario {
         /* achico el font-size */
         @include tipografiaTamanio(1.2em,500);
    }

    .tours-card {
        /* solo achivo el ancho */
        width: 20rem;           
    }

    /* bootstrap navbar personalizada ------------------- */
    .custom-navbar a {
        @include tipografiaTamanio(1.2em,450);
    }

    /* ===== BANDERAS A LA DERECHA EN MOBILE ===== */
    .navbar-nav .nav-item:last-child {
        margin-left: auto;
    }

    // colores cuando se despliga el menu hamburguesa
    .navbar-collapse {
        background-color: rgba(0, 0, 0, 0.130);
        backdrop-filter: blur(6px);
    }

    /* footer achicar padding */
    .site-footer {
        padding: 2rem 0 0;
    }

    /* footer vertical y achicar letras espacios */
    .footer-links {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        a {
            font-weight: 300;
            //color: yellow;
        }
    }

}


/* responsive mobile */
@media (max-width: $tamanioMobile) {
    .hero-tituloSitio {     
        /* achico el font-size*/        
        @include tipografiaTamanio(1.5em,800); 
    }
    
    .hero-boton{
        /* achico el font-size */
        @include tipografiaTamanio(1em, 500);           
    }
   
    .titulo-principal {
        /* solo achico el font-size*/
        @include tipografiaTamanio(1.5em,500);
    }
    
    .titulo-secundario {
         /* slo achico el font-size */
         @include tipografiaTamanio(1em,500);
    }

    .tours-card {
        /* solo achivo el ancho */
        width: 15rem;           
    }
}
