@import './utilities/_extends';
@import './utilities/_variables';
@import './utilities/_mixins';

@import './layouts/_header';
@import './layouts/_main';
@import './layouts/_footer';


/* media querys para tablets y celulares --------------------------------------------- */

/* responsive tablet */
@media (max-width: $tamanioTablet) {

    /* cambio imagen header vertical */
    .index-header{    
        background: url("../img/backgroundHero-vertical.jpeg"); 
    }

    .contenedor-hero {  
         /* achico espacio a la izquierda, achico distancia entre elementos */        
         @include paddingGap(2rem,1em);
    }

    .hero-tituloSitio {
        /* achico el font-size */        
        @include font($fontAccent,2.5rem,600);
    }
       
    .hero-subtitulo {
        @include font($fontAccent,1.5rem, 300);  
    }

    .btn-hero {
         /* achico el font-size */
        @include font($fontPrimary, 1.2rem, 500);
    }        
   
    .titulo-principal {
        /* achico el font-size */
        @include font($fontAccent,2em,500);         
    }
   
    .titulo-secundario {
        /* achico el font-size */
        @include font($fontAccent,1.2em,500); 
    }

    /* bootstrap navbar personalizada ------------------- */
    .custom-navbar a {
        @include font($fontPrimary,1em,450);
    }

    /* banderitas a la derecha en mobile */
    .navbar-nav .nav-item:last-child {
        margin-left: auto;
    }

    // colores cuando se despliga el menu hamburguesa
    .navbar-collapse {
        background-color: rgba(0, 0, 0, 0.130);
        backdrop-filter: blur(6px);
    }

    /* faq accordion *******************/
    .section-faq {
        // boton de pregunta
        .accordion-button {
            @include font($fontPrimary, 1.2rem, 500);  
            padding: 1.2rem 0;
        }
        
        // respuesta
        .accordion-body {
            @include font($fontPrimary, 1.2rem, 300);
            padding: 0.5rem 0 1.2rem;
            color: $color-text-main;
        }        
    }

    /* footer achicar padding *******************/
    .site-footer {
        padding: 2rem 0 0;
    }

    /* footer vertical y achicar letras espacios */
    .footer-links {
        @include flexColumn;               
        list-style: none;
        gap: 0.5rem;

        a {
            font-weight: 400;
            font-size: 1rem;
        }
    }
}


/* responsive mobile */
@media (max-width: $tamanioMobile) {

    .hero-tituloSitio {
        /* achico el font-size */        
        @include font($fontAccent,2rem,600);
    }
       
    .hero-subtitulo {
        @include font($fontAccent,1.2rem, 300);
    }

    .btn-hero {
         /* achico el font-size */
        @include font($fontPrimary, 0.8rem, 500);        
    }    
   
    .titulo-principal {
        /* solo achico el font-size*/
        @include font($fontAccent,1.5rem,500); 
    }
    
    .titulo-secundario {
         /* slo achico el font-size */
        @include font($fontAccent,1em,500);         
    }

}
