@mixin flexRowCenter {
    display: flex;
    flex-direction: row;
    justify-content: center;    
}

@mixin flexColumn {
    display: flex;
    flex-direction: column; 
}

@mixin imagenGrilla {    
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@mixin tipografiaTamanio ($fontSize, $fontWeight) {
    font-size: $fontSize;
    font-weight: $fontWeight;
}

@mixin paddingGap ($paddingLeft, $rowGap) {
    padding-left: $paddingLeft;
    row-gap: $rowGap;
}