// Definición de variables con paleta de colores
$color-primario: #e6edf3; // Celeste
$color-secundario: #304a6f; // Azul oscuro
$color-fondo-primario: #f8f7f3; // Beige muy claro
$color-fondo-secundario: #c2b2a3; // Marron claro

$tamanioDesktop: 1440px;
$tamanioTablet: 768px;
$tamanioMobile: 480px;