// definición de variables con paleta de colores
$color-primario: #e6edf3; // celeste
$color-secundario: #304a6f; // azul oscuro
$color-terciario: #1651a3; // azul celeste
$color-fondo-primario: #f8f7f3; // beige muy claro
$color-fondo-secundario: #c2b2a3; // marron claro
$color-fondo-intermedio: #e3ddcf; // beige intermedio
$color-grisoscuro: #00000026;// gris oscuro casi negro;
$color-texto-gris: #444; // gris intermedio

// borrar o reorganizar
$color-celeste: #e6edf3; // celeste
$color-azulmarino: #304a6f; // azul oscuro
$color-azulfrancia: #1651a3; // azul celeste
$color-beigemuyclaro: #f8f7f3; // beige muy claro
$color-marron: #c2b2a3; // marron claro
$color-beigeintermedio: #e3ddcf; // beige intermedio
$color-grisoscuro: #00000026;// gris oscuro casi negro;
$color-grisintermedio: #444; // gris intermedio



// FONDO BODY fondo azul violeta claro
/*
background-color: #f4eee6;

// COLOR FUENTES GENERAL 
//azul marino
    color: #1f2a36; 
*/



// dimensiones de dispositivos para diseño responsive
$tamanioDesktop: 1440px;    // desktop
$tamanioTablet: 768px;      // tablet
$tamanioMobile: 390px;      // mobile