/****** footer layout *****************************************/
.site-footer {
    background-color: $color-brand-navy; 
    padding: 2.5rem 0 1.2rem;
    /* borde dorado */
    border-top: 3px solid $color-gold-ui;
}

.footer-content {
    display: flex;
    justify-content: center;
}

.footer-links {
    list-style: none;
    display: flex;
    gap: 2rem;

    a {
        color: #fff;
        text-decoration: none;
        font-weight: 600;
        font-size: 1rem;

        &:hover {
            color: $color-bg-paper;
            text-decoration: none;
            // efecto glow
            text-shadow: 0 0 5px $color-gold-ui;
        }

        /* link activo footer */
        &[aria-current="page"] {
            color: $color-gold-ui;
        }    
    }
}

.footer-copy {
    color: $color-bg-paper;    
    text-align: center;
    font-size: 0.8rem;
    margin-top: 1.2rem;
}

.linea-dorada {
    height: 2px; /* Grosor */
    width: 100%; /* Ancho */
    background-color: $color-gold-ui; /* Color de la línea */
    margin: 20px auto; /* Márgenes superior/inferior y centrado */
    border: none; /* Elimina estilos de navegador por defecto */
}

/****** fin footer layout *****************************************/
