/****** header layout *****************************************/

/* reset y generales ********************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {    
    font-family: $fontPrimary; 
    background-color: $color-bg-general;    
    color: $color-text-main;
    scroll-behavior: smooth;
    letter-spacing: 0.015em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* titulos */
h1, h2, h3 {
    font-family: $fontAccent;
}

p {
    font-family: $fontPrimary;
}

 a {
    text-decoration: none;
    color: $color-text-main;
}

/* header con imagen de fondo */
.index-header{    
    background: url("../img/backgroundHeroEdificio.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
    background-position-x: 100%;
    background-position-y: -20%;
}

.logotipo {
    width: 15rem;
    max-width: 100%;     
    min-width: 3rem;
    height: auto;
}

/* contenedor con ancho limitado para pantallas grandes - agregado 06-08-2026 */
.container__limit {
  max-width: 1800px;
  margin-inline: auto;
  padding-inline: clamp(1rem, 4vw, 3rem);
}

/* contenedor para la descripcion del sitio */
.contenedor-hero {
    @include flexColumn;
    align-items: flex-start;        
    height: 80%;
    max-height: 80%;
    padding-top: 3rem;
    @include paddingGap(5rem,3em);
    /* espacio para navbar fija */
    margin-top: 100px;
}

.contenedor-hero-fondoOscuro {
    background-color: rgba(0, 0, 0, 0.4); /* Fondo negro semitransparente */
}

.hero-tituloSitio {    
    @include font($fontAccent, 3.4rem, 600);  
    color: $color-bg-paper;      
    width: 60%;
    margin-top: 0.5rem;
}

.hero-subtitulo {
    @include font($fontAccent, 2rem, 400);  
    width: 50%;
    color: $color-text-inverse;    
}

.btn-hero {
    @extend %btnBase;
    @include font($fontPrimary, 1.5rem, 500);  
    background-color: $color-primary;
    color: $color-bg-paper;

    letter-spacing: 0.05em; 
    padding: 0.7rem 1.8rem;
    border-radius: 10px; // piso el tamaño
    border: 2px solid $color-accent-light;
    box-shadow:
    0 6px 18px rgba(0, 0, 0, 0.35),
    inset 0 1px 0 rgba(255, 255, 255, 0.15);  
}

.btn-hero:hover {
  transform: translateY(-1px);
  border-color: $color-accent;

  box-shadow:
    0 10px 26px rgba(0, 0, 0, 0.45),
    inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

/* bootstrap navbar personalizada color idem footer */
.custom-navbar {
    background-color: $color-primary !important;
    // menu desktop horizontal normal / mobile alineado a la derecha
    align-items: flex-end;
    text-align: right;    

    // sombra debajo de la barra de navegacion
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;     

    /* link activo navbar */
    .nav-link[aria-current="page"] {
        color: $color-accent !important;
    }

    a {
        @include font($fontPrimary, 1.3rem, 500);
        color: $color-text-inverse !important;
        padding-left: 0.5rem;
        padding-bottom: 0.5rem;

        &:hover {
            color: $color-accent; //$color-bg-paper; 
            text-decoration: none;
            // efecto glow
            text-shadow: 0 0 5px $color-accent;
        }
    }    
}

.navbar-toggler {
    border: none;
}

/* pone las rayitas del menu hamburguesa en blanco */
.navbar-toggler-icon {
    filter: invert(1);
}

/* navbar links a la derecha para desktop */
.navbar-nav {
    margin-left: auto;

    /* banderitas de idioma */
    .nav-item:last-child {
        @include flexRow;    
        align-items: center;
        gap: 0.5rem;
        margin-left: 1.2rem; /* pequeño respiro respecto a FAQ */ 
        
        img {
            height: 20px;
            width: auto;
        }
    }
}

/****** fin header layout *****************************************/